/* color palette */
.color-ebony {
  color: #0f172a;
}

.color-gullgray {
  color: #94a3b8;
}

.color-mirage {
  color: #1e293b;
}

.color-white {
  color: #fefefe;
}

.color-charcoal {
  color: #2f3c52;
}

.color-header-gradient {
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}

.custom-subheader {
  font-size: 3rem;
  font-weight: bold;
  background-image: linear-gradient(
    90deg,
    #12c2e9 0%,
    #c471ed 50%,
    #f64f59 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media (max-width: 576px) {
  .custom-subheader {
    font-size: 2rem;
  }
}

.custom-home-margin {
  margin-top: 7.375rem;
  margin-left: initial;
}

@media (min-width: 576px) {
  .custom-home-margin {
    margin-top: 7.375rem;
    margin-left: 12vw;
  }
}

@media (min-width: 576px) {
  .custom-home-vh {
    height: 100vh;
  }
}

/* background color palette */
.bg-ebony {
  background-color: #0f172a;
}

.bg-gullgray {
  background-color: #94a3b8;
}

.bg-mirage {
  background-color: #1e293b;
}

.bg-white {
  background-color: #fefefe;
}

.bg-charcoal {
  background-color: #2f3c52;
}

.bg-header-gradient {
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}

/* Global Styles */
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/*container-fluid styles */
.container-fluid {
  padding-left: initial;
  padding-right: initial;
}

/* Sidebar Styles */

/* desktop sidebar view*/
@media (min-width: 800px) {
  .custom-vh-md {
    height: 100vh;
  }
}

/*mobile side view sidebar*/
@media (max-height: 430px) {
  .custom-vw-md {
    height: 100%;
  }
}

.nav-link:hover {
  font-weight: bold;
  color: #29b2d9 !important;
}

.sidebar-icons:hover {
  fill: #29b2d9 !important;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  border-right: 4px solid;
  font-weight: bold;
  color: #fefefe !important;
  border-color: #fefefe;
}

@media (max-width: 576px) {
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .show > .nav-link {
    border-right: initial;
    color: #fefefe;
    border-color: #fefefe;
  }
}

/*Home Page Styles*/
.keyword-btn {
  border: 1px solid #fefefe;
  box-sizing: border-box;
  border-radius: 33px;
}

.keyword-btn:hover {
  color: #fefefe;
  box-sizing: border-box;
  border-radius: 33px;
  font-weight: bold;
}

/*End of Home Page Styles*/

/*Contact Page Styles */
.custom-header {
  font-size: 6rem;
  font-weight: bold;
  background-image: linear-gradient(
    90deg,
    #12c2e9 0%,
    #c471ed 50%,
    #f64f59 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media (max-width: 576px) {
  .custom-header {
    font-size: 4rem;
  }
}

.input-bg {
  border-color: #2f3c52;
}

.input-bg:focus {
  background-color: #2f3c52;
  outline: 1px solid #2f3c52 !important;
  border-color: #2f3c52;
}

.contact-btn-custom {
  color: #94a3b8;
  background-color: transparent;
  border: #94a3b8 solid 1px;
}

.contact-btn-custom:hover {
  color: #94a3b8;
  background-color: transparent;
  border: #94a3b8 solid 2px;
  font-weight: bold;
}

/* About Page Styles*/
.about-btn-custom {
  color: #94a3b8;
  background-color: transparent;
  border: #94a3b8 solid 1px;
}

.about-btn-custom:hover {
  color: #94a3b8;
  background-color: transparent;
  border: #94a3b8 solid 2px;
  font-weight: bold;
}

/*portfolio gallery styles */
.btn-keyword {
  color: #fefefe;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 33px;
}

.btn-keyword:hover {
  color: #12c2e9;
  border: 1px solid #12c2e9;
  box-sizing: border-box;
  border-radius: 33px;
}

button.btn.btn-keyword:active {
  color: #12c2e9;
  border: 1px solid #12c2e9;
  box-sizing: border-box;
  border-radius: 33px;
}
