/* color palette */
.color-ebony {
  color: #0f172a;
}

.color-gullgray {
  color: #94a3b8;
}

.color-mirage {
  color: #1e293b;
}

.color-white {
  color: #fefefe;
}

.color-charcoal {
  color: #2f3c52;
}

.color-header-gradient {
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}

/* background color palette */
.bg-ebony {
  background-color: #0f172a;
}

.bg-gullgray {
  background-color: #94a3b8;
}

.bg-mirage {
  background-color: #1e293b;
}

.bg-white {
  background-color: #fefefe;
}

.bg-charcoal {
  background-color: #2f3c52;
}

.bg-header-gradient {
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}

/* Global Styles */
* {
  font-family: "Roboto", sans-serif;
}

/*container-fluid styles */
.container-fluid {
  padding-left: initial;
  padding-right: initial;
}

/* Sidebar Styles */
.overlay {
  height: initial;
}

@media (min-width: 576px) {
  .overlay {
    height: 100vh;
  }
}

.nav-link:hover {
  border-right: 4px solid;
  font-weight: bold;
  color: #fefefe;
  border-color: #fefefe;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  border-right: 4px solid;
  font-weight: bold;
  color: #fefefe;
  border-color: #fefefe;
}

@media (max-width: 576px) {
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .show > .nav-link {
    border-right: initial;
    color: #fefefe;
    border-color: #fefefe;
  }
}

/*Contact Page Styles */
.input-bg {
  border-color: #2f3c52;
}
